<p id="notice"><%= notice %></p>

<h2>Blogs</h2>
<hr>
<table>
  <thead>
    <tr>
      <th>Blog Title</th>
      <th>Date</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
  <div>
    <% @blogs.each do |blog| %>
      <%= render @blogs %>
    <% end %>
  
  <tbody>
</table>

<br>

<%= link_to 'Create a New Blog', new_blog_path %>
