<h1>Contact Us</h1>


<div class="row">
    <div class="col-md-6">
        <p>Find me in app/views/pages/contact.html.erb</p>
    </div>

    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d127223.16331437598!2d6.934755508890797!3d4.817406867429114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1069cea39f2c48e3%3A0x53562bdd7d8832db!2sPort%20Harcourt%2C%20Nigeria!5e0!3m2!1sen!2sus!4v1669410487547!5m2!1sen!2sus" width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
